{%extends 'base.html'%} {%block head%}

<h1>Subscription Manager</h1>

{%endblock%} {%block body%}
<!-- A table to display the subscriptions -->
<div class="content">
  <div class="form">
    <!-- A form for creating a new subscription -->
    <form action="/home" method="POST">
      <label>user ID</label>
      <input name="user_id" type="number" />
      <label for="service_id">Service ID</label>
      <select name="service_id">
        <option>1</option>
        <option>2</option>
        <option>3</option>
      </select>
      <br /><br />

      <label for="" start_date>Start Date</label>
      <input type="date" name="start_date" />

      <br /><br />

      <label for="amount">Amount(CAD)</label>
      <input type="number" name="amount" />

      <br /><br />
      <label for="cycle">Subscription Cycle</label>
      <select name="cycle">
        <option value="weekly">Weekly</option>
        <option value="bi_weekly">Bi-weekly</option>
        <option value="monthly">Monthly</option>
        <option value="annual">Annual</option>
      </select>

      <br /><br />

      <input type="submit" value="Submit" />
      <br /><br />
    </form>

    <table>
      <tr>
        <th>ID</th>
        <th>User ID</th>
        <th>Service</th>
        <th>Start Date</th>
        <th>Amount</th>
        <th>Cycle</th>
      </tr>

      {%for sub in subscriptions %}

      <tr>
        <td>{{sub.user_id}}</td>
        <td>{{sub.sub_id}}</td>
        <td>{{sub.name}}</td>
        <td>{{sub.start_date}}</td>
        <td>{{sub.amount}}</td>
        <td>{{sub.subscription_cycle}}</td>
      </tr>

      {% endfor %}
    </table>
  </div>
</div>

{%endblock%}
